body {
    background-color: #efd592;
}

button {
    display: inline-block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;

    width: 240px;
    height: 50px;

    padding: 0;

    border-width: 4px;
    border-color: #242d38;

    margin: 0;

    color: #242d38;
    background-color: #efd592;
}